/*

* {
    background: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    margin: 2px;
    padding: 0;
}

.cabeçalho {
    display: flex;
    justify-content: space-evenly
}

.comparador{
    margin-right: 7em;
}

.container_imagens {
   
    margin-top: 3em;
    width: 98%;
    box-shadow:
    0px 0px 21px 13px rgba(3, 3, 3, 0.3),
    21px 11px 13px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.container_imagens2{
   
    margin-top: 3em;
    width: 98%;
    box-shadow:
    0px 0px 21px 13px rgba(3, 3, 3, 0.3),
    21px 11px 13px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
.imagens{
    justify-items: center;
}


.botão {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.botão2 {
    text-align: center;
}

.botão_central {
    margin-bottom: 2em;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.detalhes_cidades {
    display: flex;
    justify-content: space-evenly;
}

.detalhes{
    margin-top: 2em;
}

.detalhes2{
    margin-top: 2em;
}

.logo {
    margin-right: 5px;
}

.logo2 {
    margin-right: 5px;
}

.rodape {
    display: flex;
    justify-content: space-around;
    gap: 60em;
    margin-right: 10em;
}

.rodape_descrição {
    margin-right: 5em;
}

.rodape_links {
    margin-right: 7em;
}

.links {
    list-style: none;
}

.detalhes_lista {
    list-style: none;
}

.detalhes_lista2 {
    list-style: none;
}

.barra{
    width: 25em;
    height: 2px;
    background: rgb(255, 255, 255);
    border: solid 2px rgb(61, 58, 58);
    border-radius: 10%;

}

.imagem {
    border-radius: 10px;
}

