body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

.marca_dagua {
  font-size: 30px;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 0 10px;
}

.botao_login {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.img_principal {
  width: 90%;
  border-radius: 10px;
}

.titulo {
  font-size: 36px;
  text-align: center;
}

section {
  text-align: center;
}

.img {
  max-width: 20%;
  height: auto;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
