@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Josefin+Sans&family=Lobster&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "archivo black", sans-serif;
  text-align: center; /*coloquei isso para a imagem principal ficar no centro */
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

/* body * {
  border: 1px solid red;
} */
#logo {
  font-size: 25px;
  
  /*coloquei isso para o logo ficar no inicio */
}

.logo_freem {
  max-width: 70px;
}
.logo_menu {
  color: #3E8914;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-left: 3rem;
}

.icon_cabecalho{
  max-width: 1.5rem;
}

nav {
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  
}

a:hover {
  color: #787676;
}

.lista_menu {
  display: flex;
  gap: 3rem;
  margin-right: 3rem;
  align-items: center;
}

.img_principal {
  margin-left: 20px;
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

#compara_titulo {
  font-size: 30px;
  text-align: center;
}

#compara_cidade {
  position: relative;
  display: inline-block;
  width: 70%;
  background-color: rgb(234, 234, 235);
  border-radius: 10px;
  margin: -100px;
}

input {
  border-radius: 10px;
  border: 1px solid rgb(205, 205, 205);
  padding: 8px;
  margin: 8px;
  background-color: rgb(234, 234, 235);
}

.compara_botao {
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  margin: 8px;
  background-color: rgb(0, 0, 0);
}

#destinos_pop {
  display: flex;
  justify-content: flex-start;
  margin-left: 130px;
  padding: 10px;
  gap: 20px;
  margin-right: 43px;
}

#botao_dest_pop {
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  margin: 18px;
  background-color: rgb(0, 0, 0);
}

.cor_botao {
  font-weight: bold;
  color: white;
}

.img {
  max-width: 20%;
  height: auto;
}

.img_carbono {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
li {
  list-style-type: none;
}

.botao_login1 {
  background-color: #3E8914;
  color: #E8FCCF;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.botao_login2 {
  /* margin-left: 10px; coloquei isso pra ele ficar no canto 8 */
  background-color: #3E8914;
  color: #E8FCCF;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  text-align: center;
}

#texto_calc {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  align-items: flex-start;
  width: 70%;
  background-color: rgb(234, 234, 235);
  border-radius: 10px;
  margin: -100px;
}

footer {
  color: #000000;
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: right;
  font-size: 15px;
  font-weight: bold;

}

#texto_footer {
  font-size: 15px;
  font-weight: bold;
  justify-content: start;
  align-items: start;
  gap: 30px;
  text-align: left;
}

.logo_freem_footer {
  max-width: 10rem;
}
