body {
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center; /*coloquei isso para a imagem principal ficar no centro */
}
.img_principal {
  max-width: 90%;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.img {
  max-width: 20%;
  height: auto;
}

.img_carbono {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

li {
  list-style-type: none;
}
/* 
header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}



.marca_dagua {
  font-size: 30px;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 0 10px;
}

.botao_login1 {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.botao_login2 {
  margin-left: 160px; /* coloquei isso pra ele ficar no canto 8 
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.titulo {
  font-size: 36px;
  text-align: center;
}

section {
  text-align: center;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
} */
