@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Josefin+Sans&family=Lobster&family=Poppins&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "archivo black", sans-serif; */
  font-family: "poppins", sans-serif;
  text-align: center; /*coloquei isso para a imagem principal ficar no centro */
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  justify-content: center; /*coloquei isso para fazer o carrossel */
}

/* body * {
  border: 1px solid red;
} */
#logo {
  font-size: 25px;

  /*coloquei isso para o logo ficar no inicio */
}

.logo_freem {
  max-width: 70px;
}
.logo_menu {
  color: #3e8914;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  /* margin-left: 3rem; */
}

.icon_cabecalho {
  max-width: 1.5rem;
}

nav {
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

a:hover {
  color: #787676;
}

.lista_menu {
  display: flex;
  gap: 3rem;
  margin-right: 3rem;
  align-items: center;
}

.img_principal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

#compara_titulo {
  font-size: 30px;
  text-align: center;
}

#compara_cidade {
  position: relative;
  display: inline-block;
  width: 70%;
  background-color: rgb(234, 234, 235);
  border-radius: 10px;
  margin: -100px;
}

input {
  border-radius: 10px;
  border: 1px solid rgb(205, 205, 205);
  padding: 8px;
  margin: 8px;
  background-color: rgb(234, 234, 235);
}

.compara_botao {
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  margin: 8px;
  background-color: rgb(0, 0, 0);
}

#destinos_pop {
  display: flex;
  justify-content: flex-start;
  margin-left: 130px;
  padding: 10px;
  gap: 20px;
  margin-right: 43px;
}

#botao_dest_pop {
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  margin: 18px;
  background-color: rgb(0, 0, 0);
}

.cor_botao {
  font-weight: bold;
  color: white;
}

/* .img {
  max-width: 80vh;
  height: auto;
} */

/* .img {
  width: 40vh;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
} */

.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.img_carbono {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
li {
  list-style-type: none;
}

.botao_login1 {
  background-color: #3e8914;
  color: #e8fccf;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.botao_login2 {
  /* margin-left: 10px; coloquei isso pra ele ficar no canto 8 */
  background-color: #3e8914;
  color: #e8fccf;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* section {
  text-align: center;
} */

#texto_calc {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  align-items: flex-start;
  width: 70%;
  background-color: rgb(234, 234, 235);
  border-radius: 10px;
  margin: -100px;
}

footer {
  color: #000000;
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}

#texto_footer {
  font-size: 15px;
  font-weight: bold;
  justify-content: start;
  align-items: start;
  gap: 30px;
  text-align: left;
}

.logo_freem_footer {
  max-width: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------------------------------------------------*/
/* body {
  background: #eaeaea;
  overflow: hidden;
} */

/* .container {
  margin-top: 550px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
  height: 900px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}
.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}


.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.3s;
  opacity: 0.6;
}

.button button:hover {
  background: #a0a0a0;
  color: #ffffff;
}

.des {
  color: #000000;
  padding: 20px;
  background-color: #f5f5f5;
  opacity: 0.2;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
} */

/* ---------------------- responsividade ---------------------- */

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .container .slide .item {
    width: 100%;
    height: 100%;
  }
  .container .slide .item:nth-child(3) {
    left: 100%;
  }
  .container .slide .item:nth-child(4) {
    left: calc(100% + 220px);
  }
  .container .slide .item:nth-child(5) {
    left: calc(100% + 440px);
  }
  .container .slide .item:nth-child(n + 6) {
    left: calc(100% + 660px);
  }
  .container .slide .item:nth-child(2) .content {
    display: block;
  }
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  padding: 10px;
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  width: 320px;
  border-radius: 25px;
  background: #ffffff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 0 0;
}

/* .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-radius: 25px 25px 0 25px;
}

.overlay::before, /*coloquei isso para fazer o detalhe do triangulo no canto da imagem 
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
} 

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}*/

.card-image {
  /*coloquei isso para fazer o card ficar no centro */
  position: relative;
  height: 300px;
  width: 300px;
  padding: 3px;
}

.card-image .card-img {
  /*coloquei isso para fazer a imagem do card ficar no centro */
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid #004325;
}

.name {
  /*coloquei isso para fazer o nome do card ficar no centro */
  font-size: 18px;
  font-weight: 500;
  color: #004325;
}

.description {
  font-size: 14px;
  color: #006035;
  text-align: center;
}

.button-carrossel {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #3e8914;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-carrossel:hover {
  /*coloquei isso para fazer o botão do carrossel trocar de cor */
  background-color: #004325;
}

.card:hover {
  /*coloquei isso para fazer o card do carrossel aumentar */
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.swiper-navBtn {
  /*coloquei isso para fazer o botão do carrossel trocar de cor */
  color: #3e8914;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  /*coloquei isso para fazer o botão do carrossel trocar de cor */
  color: #004325;
}

.swiper-button-next {
  /*coloquei isso para fazer o botão do carrossel ficar no canto */
  right: 0;
}

.swiper-button-prev {
  /*coloquei isso para fazer o botão do carrossel ficar no canto */
  left: 0;
}
.swiper-pagination-bullet {
  /*coloquei isso para fazer o botão do carrossel trocar de cor */
  background-color: #3e8914;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  /*coloquei isso para fazer o botão do carrossel trocar de cor */
  background-color: #004325;
}

@media screen and (max-width: 600px) {
  /*coloquei isso para fazer o carrossel ficar responsivo */
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
