hr{
    margin: 0;
}

.rodapé{
    background-color: var( --fundo-footer);
    padding: 1em;
    
    
}

.rodapé__titulo{
    color: var(--branco);
    text-align: center;
}

.rodapé-copy{
    background-color: var(--fundo-footer);
}

@media screen and (min-width: 1080px) {
    .rodapé__titulo{
        font-size: 20px;
       
        text-align: center;
        color: var(--branco);
    }

    .lista-rodapé__titulo{
        margin-bottom: 2em;
       
        
    }

    .lista-rodapé__link{
        margin-bottom: 10px;
    }

    .sublinhado{
        content: "";
        background-color: #3e8914;
        height: 2px;
        margin-top: 0.8em;
        width: 50px;
    }
}

.lista-rodapé{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodapé{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodapé{
        display: block;
    }

    .lista-rodapé__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodapé__link{
        color: var(--branco);
        text-decoration: none;
        margin-left: 0.6em;  
    }

    .lista-rodapé__titulo{
        font-size: 20px;
        color: var(--branco);
        margin-bottom: 2em;
        
    }

    .rodapé__titulo{
        font-size: 15px;   
    }

    .rodapé-copy{
        text-align: center;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodapé{
        padding-left: 1em;
    }

    .rodapé{
        padding: 3em 0;
    }
}