@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed&display=swap");

nav {
  position: inherit;
}

body {
  background-image: url(/ecotour/img_leandro/Destino_pop_4.jpg);
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #dfdfdf;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.2rem;
  position: relative;
}

label:not(:first-of-type) {
  margin-top: 1rem;
}

input {
  border: 1px solid #a8a8a8;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.helper-text {
  display: none;
  font-size: 0.8rem;
  color: darkred;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 1.5rem;
  font-size: 1rem;
  align-self: center;
  background-color: #3e8914;
  border: 1px solid #e8fccf;
  border-radius: 10px;
}

button a:hover {
  background-color: #3e8914;
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}

.btn-cadastro:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.box-input:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
}
