body {
  margin: 0;
  padding: 0;
  background-image: url(/ecotour/img_leandro/arvore_landing_page.jpg);
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
}
.helper-text {
  display: none;
  font-size: 0.8rem;
  color: darkred;
}
.areaLogin img {
  width: 420px;
}
.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}
.formLogin p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}
.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}
.formLogin input:focus {
  border: 1px solid #089533;
}
.formLogin label {
  font-size: 14px;
  font-weight: 600;
}
.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}
.formLogin a:hover {
  color: #032c19;
}
.btn {
  background-color: #089533;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
}
.btn:hover {
  transform: scale(1.05);
  background-color: #089533;
}
.btn-cadastro {
  background-color: #e2e2e2;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
}
.btn-cadastro:hover {
  transform: scale(1.05);
  background-color: #acacac;
}

@media (max-width: 768px) {
  .page {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }
  .formLogin {
    padding: 20px;
  }
  .areaLogin img {
    width: 300px;
  }
  .formLogin h1 {
    font-size: 1.8em;
  }
  .formLogin p {
    font-size: 12px;
  }
  .formLogin input {
    padding: 10px;
    font-size: 12px;
  }
  .formLogin label {
    font-size: 12px;
  }
  .formLogin a {
    font-size: 11px;
  }
  .btn {
    font-size: 12px;
  }
  .btn-cadastro {
    font-size: 12px;
  }
}
.helper-text {
  display: none;
  font-size: 0.8rem;
  color: darkred;
}
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
}
input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}
input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}
.visible {
  display: block;
}

.btn-cadastro:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.box-input:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
}
label {
  margin-bottom: 0.2rem;
  position: relative;
}

label:not(:first-of-type) {
  margin-top: 1rem;
}

input {
  border: 1px solid #a8a8a8;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}
